<div class="container">

    <div class="header">
        <div class="search-container">
            <label for="numeroFactura">Buscar factura: </label>
            <input type="text" id="numeroFactura" [(ngModel)]="numeroFactura" class="small-input" />
            <button (click)="buscarFactura()">Buscar</button>
        </div>

        <div *ngIf="!consultaExistente" class="message-container">
            <div class="warning-message">
                <p>{{ mensajeError }}</p>
            </div>
        </div>

        <div class="create-button-container">
            <button type="button" class="btn btn-primary blue-button" (click)="openCreaFacturaDialog()">Crear
                factura</button>
        </div>
    </div>

    <div class="detalle-factura">
        <table class="detalle-table">
            <thead>
                <tr>
                    <th colspan="2" class="header-color">Factura</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Número de Factura:</strong></td>
                    <td>{{ facturaData?.FACTURA?.NUMERO_FACTURA }}</td>
                </tr>
                <tr>
                    <td><strong>Fecha:</strong></td>
                    <td>{{ facturaData?.FACTURA?.FECHA }}</td>
                </tr>
                <tr>
                    <td><strong>Usuario creacion:</strong></td>
                    <td>{{ facturaData?.FACTURA?.USUARIO }}</td>
                </tr>
                <tr>
                    <td><strong>Total factura:</strong></td>
                    <td>{{ facturaData?.FACTURA?.TOTAL | currency: '₡ ' }}</td>
                </tr>
            </tbody>
        </table>

        <div class="agregar-detalle">

            <h2>Detalles de la Factura:</h2>
            
            <div class="boton-derecha">
                <button type="button" (click)="openAddProductDialog()">Agregar producto</button>
            </div>
        </div>
        
        <div>
            <table class="detalle-table">
              <thead>
                <tr>
                  <th>SKU</th>
                  <th>Artículo</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Total</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody *ngIf="facturaData?.DETALLES">
                <tr *ngFor="let detalle of facturaData?.DETALLES">
                  <td>{{ detalle.CODIGO_ARTICULO }}</td>
                  <td>{{ detalle.ARTICULO }}</td>
                  <td>{{ detalle.CANTIDAD }}</td>
                  <td>{{ detalle.PRECIO | currency: '₡ ' }}</td>
                  <td>{{ (detalle.CANTIDAD * detalle.PRECIO) | currency: '₡ ' }}</td>
                  <td><button class="btn btn-danger" (click)="borrarDetalle(detalle)">Borrar</button></td>
                </tr>
              </tbody>
            </table>
          </div>

    </div>

</div>